@use "breakpoints/small-up";

// 768px max
@use "breakpoints/small-only";

// 769px +
@use "breakpoints/medium-up";

// 769px - 1350px
@use "breakpoints/medium-only";

// 1351px +
@use "breakpoints/large-up";

//$primary: #006699;
//$primary-hover: #004f80;
//@import "bulma/bulma";
