.m-6 {
  margin: 1.5rem !important;
}
.ml-6, .mx-6 {
  margin-left: 0rem !important;
}
.ashi-footer {
  width: 80%;
  margin: 0 auto !important;
}
.buttons {
  .button {
    margin-bottom: 1rem;
  }
}
